name: Windows MinGW

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: MINGW64
            name: x86_64
            packages: mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake
          - msystem: MINGW32
            name: x86
            packages: mingw-w64-i686-gcc mingw-w64-i686-cmake

    runs-on: windows-latest
    name: ${{ matrix.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true
          install: ${{ matrix.packages }} make

      - name: Configure CMake
        shell: msys2 {0}
        run: cmake -B build -G "MSYS Makefiles" -DCMAKE_BUILD_TYPE=Release -DLBRIDGE_BUILD_TESTS=ON -DLBRIDGE_ENABLE_SECURE=ON

      - name: Build
        shell: msys2 {0}
        run: cmake --build build

      - name: Run tests
        shell: msys2 {0}
        run: ./build/bin/lbridge_test.exe
        timeout-minutes: 2
