name: Windows MSVC

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, Win32]
        include:
          - arch: x64
            name: x86_64
          - arch: Win32
            name: x86

    runs-on: windows-2022
    name: ${{ matrix.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -B build -G "Visual Studio 17 2022" -A ${{ matrix.arch }} -DLBRIDGE_BUILD_TESTS=ON -DLBRIDGE_ENABLE_SECURE=ON

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: ./build/bin/lbridge_test.exe
        shell: bash
        timeout-minutes: 2
